body {
    background: transparent $background 0% 0% repeat padding-box;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
  }

  a {
    color: white;
    text-decoration: none;
  }
  
  p {
    color:$color-p;
  }