.main__text__elements__title {
    font-family: "Poppins";
    font-size: 48px;
    letter-spacing: 0.67px;
    font-weight: bold;
  }
  
  .main__text__elements__secondary {
    font-family: "Roboto";
    letter-spacing: 0.22px;
  }
  
  .main__text {
    padding-top: 90px;
    padding-left: 90px;
  }
  
  .button {
    @include button ();
  }